/* SPOTIFY BONUS
    hide cover on smaller screens
    hide the cta on max-height 
    add animations (some already added in default style)
    add more responsivness
 */



.nav-categories ul li {
    position: relative;
}


.nav-categories ul li::after {
    opacity: 0;
    transition: all 1.5s ease 0.5s;
    content: "";
}

.nav-categories ul li:hover::after {
    content: '';
    width: 53px;
    height: 26px;
    transform: rotate(360deg) translateY(0);
    border-bottom: solid 5px #72A81F;
    position: absolute;
    right: 40%; 
    opacity: 1;
    transition: opacity 1.5s ease ;
}



.timebar:hover .timebar-i {
    width: 100%;
    transition: width 3.5s;
}




@media screen and (max-height : 500px) {
    .topbar {
        display: none;
    }
}