/* SPOTIFY BONUS
    hide cover on smaller screens
    hide the cta on max-height 
    add animations (some already added in default style)
    add more responsivness
 */



.nav-categories ul li {
    position: relative;
}


.nav-categories ul li::after {
    opacity: 0;
    transition: all 1.5s ease 1s;
    content: "";
}

.nav-categories ul li:hover::after {
    content: '';
    width: 53px;
    height: 26px;
    transform: rotate(360deg) translateY(0);
    border-bottom: solid 5px #72A81F;
    position: absolute;
    right: 40%; 
    opacity: 1;
    transition: opacity 2s ease ;
}





/* @media screen and (max-width : 1100px) {
    .row {
        flex-wrap: nowrap;
        overflow-x: auto;
    
    }

    .square {
        min-height: 300px;
    }

    .square .square-text h1 {
        font-size: 0.6rem;
    }
    .square h2 {
        font-size: 0.2rem;
    }
} */

@media screen and (max-height : 500px) {
    .topbar {
        display: none;
    }
}