/* Utilities classes and base structure styles  */

* {
  margin : 0 ; 
  padding : 0 ; 
  box-sizing : border-box ;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

:root {
    --color-main : #141922;
    --color-player : #282828;
    --color-bar : #080B12;
    --color-black : #000000;
    --color-gray : #646464;
    --color-gray-light : #A3A3A3;
    --color-white : #fff;
    --text-medium : 1rem ;
    --text-big : 2.4rem ; 
 

}



.text-medium {
    font-size: var(--text-medium);
}

.text-big {
    font-size: var(--text-big);
}

.text-white {
    color: #fff;
}


h1 {
    color: #fff;
}

ul li , ol li {
    list-style-type: none;
}




.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.overflow-auto {
    overflow: auto;
}

.bottom-player {
    padding: 1.5rem 0;
    flex-shrink: 0;
    background: var(--color-player);
}


.topbar {
    padding: 1.5rem 0;
    flex-shrink: 0;
    background: var(--color-bar);
}
    
.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 250px;
    background: var(--color-black);
    color: var(--color-gray);
    font-size: var(--text-medium);
    
}
  
.songs-container {
    background: var(--color-main);
}





/* ------------------------------------------  */

/* SIDEBAR STYLE */


.sidebar {
    padding: 0.5rem 1.2rem;
    gap: 25px;
}

.sidebar img:not(.logo) {
    width: 30px;
}

.logo {
    width: 150px;
    padding-top: 1.2rem;
}

.sidebar-switch-section ul li {
    padding: 0.5rem 0;
}

.sidebar-switch-section ul li:first-child {
    position: relative;
}

.sidebar-switch-section ul li:first-child::after {
    content: '';
    width: 20px;
    height: 30px;
    transform: rotate(90deg) translateY(150px);
    border-bottom: solid 5px #72A81F;
    position: absolute;
    right: 50px;
    top: 10px ;
}


.sidebar-switch-section ul li img {
   margin-right: 0.5rem;
   vertical-align: middle;
}

.sidebar-switch-section ul li span {
    font-size: 0.9rem;
}

.playlist-square {
    width: 20px;
    height: 20px;
    background: var(--color-gray-light);
    font-size: 1.7rem;
    color: var(--color-black);
    text-align: center;
    font-weight: 700;
    padding: 1.3rem;
    position: relative;
    display: inline-block;
    margin-right: 0;
    vertical-align: middle;
}

.playlist-square i { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.playlist h1 {
    margin-bottom: 0.8rem;
}

.playlist ol {
    margin-top: 1.5rem;
}

.playlist ol li{
    padding: 0.4rem 0;
}


.user-info .upper-info {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.894);
    font-size: 0.9rem;
    align-items: center;
    padding-bottom: 0.3rem;
}

.user-info .upper-info img {
    vertical-align: middle;
}

.user-info .bottom-info {
   padding-top: 0.3rem;
    

}

.user-info .bottom-info img {
    margin-top: 0.3rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--color-gray-light);
    margin-right: 10px;
    
}


/* -------------------------------------------- */


/* TOPBAR STYLE */


.topbar button {
    float: right;
    border-radius: 25px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    margin-right: 0.3rem;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 2.5rem;
}

/* -------------------------------------------- */


/* NAV CATEGORIES  STYLE */

.nav-categories {
    color: var(--color-gray-light);
    gap: 20px;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-categories ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    color: rgb(131, 131, 131);
    padding: 1.5rem 1rem;
    gap: 40px;
}

/* -------------------------------------------- */


.row {
    display: flex;
}


.song-img img {
    max-width: 100%;
    
  }