/* Utilities classes and base structure styles  */

* {
  margin : 0 ; 
  padding : 0 ; 
  box-sizing : border-box ;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

:root {
    --color-main : #141922;
    --color-player : #282828;
    --color-bar : #080B12;
    --color-black : #000000;
    --color-gray : #646464;
    --color-gray-light : #A3A3A3;
    --color-white : #fff;
    --text-medium : 1rem ;
    --text-big : 2.4rem ; 
    --text-small : 0.8rem;

}



.text-medium {
    font-size: var(--text-medium);
}

.text-big {
    font-size: var(--text-big);
}

.text-small {
    font-size: var(--text-small);
}

.text-white {
    color: #fff;
}


h1 {
    color: #fff;
}

h2 {
    color: #A3A3A3;
}

ul li , ol li {
    list-style-type: none;
}

.border-r-50 {
    border-radius: 50%;
}


.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.overflow-auto {
    overflow: auto;
}

.bottom-player {
    padding: 1rem 0;
    flex-shrink: 0;
    background: var(--color-player);
    width: 100%;
    overflow: hidden;
}


.topbar {
    padding: 1.5rem 0;
    flex-shrink: 0;
    background: var(--color-bar);
}
    
.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 250px;
    background: var(--color-black);
    color: var(--color-gray);
    font-size: var(--text-medium);
    
}
  
.songs-container {
    background: var(--color-main);
}





/* ------------------------------------------  */

/* SIDEBAR STYLE */


.sidebar {
    padding: 0.5rem 1.2rem;
    gap: 25px;
}

.sidebar img:not(.logo):not(.logo-small) {
    width: 30px;
}

.logo {
    width: 150px;
    padding-top: 1.2rem;

}

.logo-small {
    display: none;
}

.sidebar-switch-section ul li {
    padding: 0.5rem 0;
}

.sidebar-switch-section ul li:hover{
    color: var(--color-white);
    cursor: pointer;
}

.sidebar-switch-section ul li:first-child {
    position: relative;
}

.sidebar-switch-section ul li:first-child::after {
    content: '';
    width: 20px;
    height: 30px;
    transform: rotate(90deg) translateY(150px);
    border-bottom: solid 5px #72A81F;
    position: absolute;
    right: 50px;
    top: 10px ;
}


.sidebar-switch-section ul li img {
   margin-right: 0.5rem;
   vertical-align: middle;
}

.sidebar-switch-section ul li span {
    font-size: 0.9rem;
}

.playlist-square {
    width: 20px;
    height: 20px;
    background: var(--color-gray-light);
    font-size: 1.7rem;
    color: var(--color-black);
    text-align: center;
    font-weight: 700;
    padding: 1.3rem;
    position: relative;
    display: inline-block;
    margin-right: 0;
    vertical-align: middle;
}

.playlist-square i { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.playlist-square:hover{
    background: var(--color-white);
    cursor: pointer;
}

.playlist-square:hover + span{
    color: var(--color-white);
    cursor: pointer;
}

.playlist h1 {
    margin-bottom: 0.8rem;
}

.playlist ol {
    margin-top: 1.5rem;
}

.playlist ol li{
    padding: 0.4rem 0;
}

.playlist ol li:hover{
    color: var(--color-white);
    cursor: pointer;
}


.user-info .upper-info {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.894);
    font-size: 0.9rem;
    align-items: center;
    padding-bottom: 0.3rem;
}

.user-info .upper-info img {
    vertical-align: middle;
}

.user-info .upper-info span:hover{
    color: var(--color-white);
    cursor: pointer;
}

.user-info .bottom-info {
   padding-top: 0.3rem;
    

}

.user-info .bottom-info img {
    margin-top: 0.3rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--color-gray-light);
    margin-right: 10px;
    
}


/* -------------------------------------------- */


/* TOPBAR STYLE */


.topbar button {
    float: right;
    border-radius: 25px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    margin-right: 0.3rem;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 2.5rem;
}


.topbar button:hover {
    transform: scale(1.1);
}

/* -------------------------------------------- */


/* NAV CATEGORIES  STYLE */

.nav-categories {
    color: var(--color-gray-light);
    gap: 20px;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-categories ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    color: rgb(131, 131, 131);
    padding: 1.5rem 1rem;
    gap: 40px;
}

.nav-categories ul li:hover{
    color: var(--color-white);
    cursor: pointer;
}

/* -------------------------------------------- */


/* SONGS CONTENT STYLE */


.headings {
    padding: 1rem;
}

.headings h2 {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-gray);
}




.row {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    gap : 30px ;

}



.square {
    aspect-ratio: 1/1;
    flex-basis: calc(100% / 6 - 30px );   
}



.square img {
    width: 100%;
    display: block;
}

.square .square-text {
    text-align: center;
    font-size: 0.6rem;
}

.square .square-text h1{
    padding-bottom: 0.6rem;
    font-size: 1.175rem;
}

.square-img {
    position: relative;
    margin-bottom: 0.7rem;
}

.square-img:hover::before  {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    
}


.square-img:hover::after  {
    font-family: "Font Awesome 5 Free";
    content: "\f144"; 
    position: absolute;
    font-size: 4rem;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}

.square-img#circle-img:hover::before  {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    
}

/* -------------------------------------------- */


/* PLAYERBAR SECTION STYLE */


svg {
    width: 30px;
    height: 30px;
}

.player-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-left-img , .player-left-title , .player-left-icons {
    display: inline-block;
    margin : 0 0.7rem;
    vertical-align: middle;
} 

.player-left-img {
    width: 50px;
}

.player-left-img img {
    width: 100%;
    
}

.player-left-icons i {
    transform: scale(1.2);
    padding: 0 0.5rem;
    color: var(--color-gray-light);
}

 /* .player-content {
    justify-content: space-between;
    display: flex;
    gap: 50px;
}


.player-left {
    padding: 0 1rem;
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 400px;
}

.player-left img {
    width: 60px;
   
}

.player-left-icons {
   padding-left: 1rem;
   display: flex;
   gap: 15px;
}

.player-left i{
    color: rgba(242, 242, 242, 0.525);
}


.player-middle {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
}

.player-middle-top {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.player-middle-bottom {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
}

.player-middle svg {
    fill: #fff;
    width: 25px;
    height: 25px;
}

.player-middle svg:nth-child(3) {
    fill: #fff;
    width: 35px;
    height: 35px;
}

.timebar {
    height: 6px;
    border-radius: 20px;
    border: none;
    background: var(--color-gray);
    max-width: 300px;
    width: 15%;
}

.timebar-i {
    height: 6px;
    border-radius: 20px;
    border: none;
    background: #fff;
    width: 30%;
    
}

.player-middle .timebar {
    width: 500px;
}


.player-right {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 400px;
}

.player-right svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.player-right .timebar {
    width: 140px;
}

.player-right .timebar-i {
    width: 20%;
}  */

/* -------------------------------------------- */



/* MEDIA QUERY */


 @media screen and (max-width : 1300px) {

    .square {
        flex-basis: calc(100% / 4 - 30px);
    }
    
} 



@media screen and (max-width : 1100px) {

    .square {
        flex-basis: calc(100% / 3 - 30px);
    }
    
}


@media screen and (max-width : 900px) {
    .square {
        flex-basis: calc(100% / 2 - 30px);
    }
    
}



@media screen and (max-width : 700px) {

    .player-left-icons i {
        display: block;
        margin-bottom: 0.4rem;
    }


    .sidebar {
        width: 70px;
        align-items: center;
    }

    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        width: 40px;
    }

    .playlist > * {
        display: none;
    }

    .user-info .upper-info {
        border-bottom: unset ;
    }

    .bottom-info span {
        display: none;
    }
    
    .upper-info span {
        display: none;
    }

    .sidebar-switch-section-name {
        display: none;
    }

}




@media screen and (max-width : 500px) {
    .square {
        flex-basis: calc(100% / 1 - 30px);
    }
    
}


